<nav
  id="navbar"
  class="flex flex-row justify-content-between align-items-center"
>
  <div class="logo">
    <img src="/assets/letter-a.png" alt="logo" />
  </div>
  <ul class="list-group flex flex-row justify-content-around gap-6">
    <!--TODO: verify de ngclass bc styles are affecting the text -->
    <li
      *ngFor="let item of items"
      class="list-item"
      [ngClass]="{ selected: id === item.name }"
      (click)="activateLink(item.name)"
      routerLink="{{item.url}}"
    >
      {{ item.name }}
    </li>
  </ul>
  <div class="burger" (click)="toggleMenu()">
    <div class="burger-line"></div>
    <div class="burger-line"></div>
    <div class="burger-line"></div>
  </div>
  <div class="slide-menu" *ngIf="isToggle" [ngClass]="{'show-menu': isToggle}">
    <ul class="menu-link">
      <!--TODO: verify de ngclass bc styles are affecting the text -->
      <li
        *ngFor="let item of items"
        class="link"
        [ngClass]="{ selected: id === item.name }"
        (click)="activateLinkMobile(item.name)"
        routerLink="{{item.url}}"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</nav>