<section class="home">
  <div class="home-intro">
    <p class="home-p">Hey there,</p>
    <h1 class="home-title">I'm Alvaro Alda</h1>
    <h3 class="home-sub">> Game Developer</h3>
    <p class="home-text">
      With a strong foundation in Unity game development, I bring together
      technical expertise and a keen artistic vision to craft immersive gaming
      experiences. Join me as we embark on an exhilarating exploration of the
      boundless possibilities in the realm of gaming.
    </p>
    <div class="intro-button">
        <div class="intro-button_outline"></div>
        <button class="intro-btn">Get in touch ></button>
    </div>
  </div>
  <div class="home-container">
    <div class="photo">
        <img class="photo-img" src="/assets/alvaro.png" alt="profile">
    </div>
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"></div>
    <div class="box4"></div>
    <img src="/assets/astronave.png" alt="icon">
    <img src="/assets/jeringuilla.png" alt="icon">
    <img src="/assets/oruga.png" alt="icon">
    <img src="/assets/virus.png" alt="icon">
  </div>
</section>
<!-- <main-experience></main-experience>
<main-projects></main-projects> -->
